.site-layout .site-layout-background {
  background: #fff;
}
.layout {
  height: 100%;
}
.top-header {
  width: 100%;
  max-width: 100%;
  height: 32px !important;
  position: 'fixed';
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 150px !important;
  background-color: #0072bc91 !important;
}
.header {
  width: 100%;
  max-width: 100%;
  position: 'fixed';
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 150px !important;
}
.header__logo {
  width: 36px;
  height: 36px;
}
.content {
  padding: 24px;
}

.content__background {
  background: #fff;
}
[data-theme='dark'] .content__background {
  background: #141414;
}
