<h1>Mã Giảm Giá Tour Khuyến Mãi, Giảm giá lên đến <%=discount%></h1>
<h3><%=title%></h3>
<img src=<%=src%> alt="Hình ảnh" />
<p><a href="http://localhost:3000/promotions" class="btn btn-primary" role="button">Lấy mã ngay</a></p>