ul {
  list-style-type: none;
}
.main-nav li a {
}
.main-nav li:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2.5px;
  content: '';
  background: #ff1944;
  transition: all 0.4s ease-in-out;
}

.main-nav li:after {
  left: 0px;
  bottom: 10px;
}

.main-nav li:hover:after {
  opacity: 1;
  width: 100%;
}
