// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

.inp {
  border: 0;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid gray;
  width: 100%;
}
input:focus {
  outline: none;
  border-bottom: 2px solid blue;
}
